<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Todo CRUD App</title>
</head>
<body>
<h1>List of Assignees</h1>

<a href="/assignee/add">Add new assignee</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Remove</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr th:each="ass : ${assignees}">
        <td th:text="${ass.id}"></td>
        <td th:text="${ass.name}"></td>
        <td th:text="${ass.email}"></td>
        <td> <a th:href="'/' + ${ass.getId()} + '/delete-assignee'">XXX</a></td>
        <td> <a th:href="'/' + ${ass.getId()} + '/edit-assignee'">[]</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>