<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Todo CRUD App</title>
</head>
<body>
<h1>Todos for today</h1>
<a href="/todo/add">Add new todo</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Action</th>
        <th>Done</th>
        <th>Urgent</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.isDone()}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td> <a th:href="'/' + ${todo.getId()} + '/delete'">XXX</a></td>
        <td> <a th:href="'/' + ${todo.getId()} + '/edit'">[]</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>