<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="poststyles.css">
    <meta charset="UTF-8">
    <title>Reddit Clone</title>
</head>
<body>
<a href="newpost">Submit a new post</a>
<h1>Trending posts</h1>
<div th:each="post : ${posts}">
    <p th:object="${post}" type=number th:field="*{rating}" th:text="*{rating}" th:value="*{rating}"></p>
    <p th:object="${post}"><a th:href="@{/{id}/upvote(id=${post.id})}">+</a></p>
    <p th:object="${post}"><a th:href="@{/{id}/downvote(id=${post.id})}">-</a></p>
    <p th:object="${post}" type=text th:field="*{title}" th:text="*{title}" th:value="*{title}"></p>
    <p th:object="${post}" type=text th:field="*{dateCreated}" th:text="*{dateCreated}" th:value="*{dateCreated}"></p>
</div>
</body>
</html>