<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new product</title>
</head>
<body>
<form method="post" action="items">
    <label>Id: <input name="id" type="number" required/></label>
    <label>Name: <input name="name" type="text" required/></label>
    <label>Description: <input name="description" type="text" required/></label>
    <label>Quantity: <input name="quantity" type="number" required/></label>
    <label>Price: <input name="price" type="number" required/></label>
    <input type="submit" value="Save"/>
</form>
</body>
</html>