<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1>My Shop</h1>

<a id="ava" href="/filter?Quantity>0">Only available</a>
<a id="che" href="/filter?sortBy=price>0">Cheapest first</a>
<a id="nike" href="/filter?*nike*">Contains Nike</a>
<a id="avst" href="">Only available</a>
<a id="mostex" href="">Average stock</a>
<br>
<br>
<br>
<form action="/search" method="post">
<label for=searchbar>Search for:</label><br>
<input type="text" id="searchbar" placeholder="...something like nike"><button type="submit">Search</button><br>
</form>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.getId()}"></td>
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getDescription()}"></td>
        <td th:text="${item.getPrice()}"></td>
        <td th:text="${item.quantity}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>