<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Util</title>
    <meta charset="utf-8" />

<body >

<a id="add-colour" href="/useful/add-colour" />Add new colour<br>
<a id="random-background" href="/useful/colored" />Randomize background colour<br>
<a id="email-validation" href="/useful/email?email=is@this.valid"/>Validate email (e.g.: /useful/email?email=is@this.valid)<br>
<a id="caesar-en" href="/useful/caesar-encode" />Caesar Encoder<br>
<a id="caesar-de" href="/useful/caesar-decode" />Caesar Decoder<br>

<div action="/useful/email">
    <span th:if="${valid}" th:text="${email} + ' is a valid e-mail address'" style="color:green"></span>
    <span th:unless="${valid}" th:text="${email} + ' is not a valid e-mail address'" style="color:red"></span>
</div>

</body>
</html>