h1{
    text-align: left;
    color: cyan;
    display: block;
    border-bottom: 1pt solid cyan;

    font-size: 36pt;
    font-family: 'Raleway', sans-serif;
}

a {
    color: ghostwhite;
    text-transform: uppercase;
    text-decoration: none;
    background-color: coral;
    padding: 0.7em 2em;
    border-radius: 10px;
    border: none;
    margin: 5pt;
}

th {
    background-color: cyan;
    padding: 1em 3em;
}