<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aye-Aye club</title>
</head>
<body>
<ul>
    <li><a href="">Information</a></li>
</ul>

<img src="http://drive.google.com/uc?export=view&id=1Mue8_sGbSyQ9VH-gmv5eb_H6wnGf_Rd6" alt="aye-aye-ing you" width="50%" height="50%">

<div>This is Mr Aye-Aye. Currently feasting on grubs and drinking champagne. He knows 3 tricks.</div>
<div>
    <h1>Known tricks</h1>
    <ul>
        <li>Aye-Aye mate...</li>
        <li>Set sayls</li>
        <li>Parlay!</li>
    </ul>
</div>
</body>
</html>